html {
    padding: 0;
    margin: 0;  
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(71, 73, 75);
}

#circle {
    background-color: brown;
    border-radius: 50%;
}

.square1 {
    height: 50px;
    width: 50px;
    border: 2px black solid;
    padding: 0;
    margin: 0;
    background-color: rgb(169, 228, 243);
    transition: transform 0.1s;
    z-index: 3;
    position: absolute;
}

.square2 {
    height: 100px;
    width: 100px;
    border: 2px black solid;
    padding: 0;
    margin: 0;
    background-color: rgb(218, 175, 238);
    transition: transform 0.1s;
    z-index: 2;
    position: absolute;
}

.square3 {
    height: 150px;
    width: 150px;
    border: 2px black solid;
    padding: 0;
    margin: 0;
    background-color: rgb(73, 148, 98);
    transition: transform 0.1s;
    z-index: 1;
    position: absolute;
    text-align: center;
}

.square2 img {
    height: inherit;
    width: inherit;
}

button {
    z-index: -1;
}
